@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Inter";
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
  width: 80%;
  max-width: 310px;
  box-sizing: border-box;
}

.top {
  background-color: hsl(0, 0%, 20%);
  font-weight: bold;
  font-family: "Inter";
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 11px 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin: 6px 0;
}

.img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  max-width: 100px;
}

.two {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
  line-height: 2;
  margin-bottom: 15px;
}

.top:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(75, 94%, 57%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
